<div class="form-container">
  <h1>New Recipe</h1>

  <%= form_with(model: [current_user, @recipe], url: user_recipes_path(current_user), local: true) do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :preparation_time %>
      <%= form.number_field :preparation_time, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :cooking_time %>
      <%= form.number_field :cooking_time, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="mb-3 form-check">
      <%= form.label :public, class: "form-check-label" %>      
      <%= form.check_box :public, class: "form-check-input" %>
    </div>

    <%= form.submit 'Create Recipe', class: 'btn btnn-primary' %>
  <% end %>

  <div>
    <%= link_to "Back to recipes", user_recipes_path(current_user), class: "back-link" %>
  </div>
</div>