<div class="container">
  <h1><%= @recipe.name %></h1>
  <p><%= @recipe.description %></p>
  <p>Preparation time: <%= @recipe.preparation_time %> minutes</p>
  <p>Cooking time: <%= @recipe.cooking_time %> minutes</p>
  <p>Public: <%= @recipe.public ? 'Yes' : 'No' %></p>
</div>