<div class="container">
  <h1><%= @recipe.name %></h1>
  <div class="card mb-4 recipe-details-card mx-auto">
    <div class="card-body">
      <div class="rect d-flex justify-content-between">
        <div class="paragraph">
          <p><span>Preparation time: </span><%= @recipe.preparation_time %> minutes</p>
          <p><span>Cooking time: </span><%= @recipe.cooking_time %> minutes</p>
          <p class="description-text"><span>Description: </span><%= @recipe.description %></p>
        </div>
        <div class="public">
          <%= form_with(model: [current_user, @recipe], method: :patch, local: true) do |form| %>
            <% if user_signed_in? && current_user == @recipe.user %>
              <div class="mb-3 form-check">
                <%= form.label :public, style: "display: block", class: "form-check-label" %>
                <%= form.check_box :public, onchange: "this.form.submit()", class: "form-check-input" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user == @recipe.user %>
    <div id="recipe_actions" class="recipe_actions mb-4">
     <%= link_to "Back to recipes", user_recipes_path(current_user), class: "back-link" %>
      <%= link_to "Generate Shopping List", shopping_lists_path, class: "btn back-link mr-2" %>
       <%= link_to 'Add New Ingredient', new_user_recipe_recipe_food_path(@user, @recipe.id), class: 'btn back-link' %>
    </div>
  <% end %>
<div id="recipe_foods" class="card mb-4 recipe-details-card mx-auto">
  <div class="food-form-container">
    <h2>Ingredients</h2>
    <table class="food-table">
      <thead class="food-table-head">
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |recipe_food| %>
          <tr class="<%= cycle('food-odd-row', 'food-even-row') %>">
            <td><%= recipe_food.food.name %></td>
            <td><%= recipe_food.quantity %></td>
            <td><%= (recipe_food.food.price || 0) * (recipe_food.quantity || 0) %></td>
            <td>
              <%= link_to "Modify", edit_user_recipe_recipe_food_path(@recipe.user, @recipe, recipe_food), class: "btn btn-warning btn-sm" %>
              <%= link_to "Remove", user_recipe_recipe_food_path(@recipe.user, @recipe, recipe_food), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>