<div class="container">
  <h1><%= @recipe.name %></h1>
  <div class="card mb-4 recipe-details-card mx-auto">
    <div class="card-body">
      <div class="rect d-flex justify-content-between">
        <div class="paragraph">
          <p><span>Preparation time: </span><%= @recipe.preparation_time %> minutes</p>
          <p><span>Cooking time: </span><%= @recipe.cooking_time %> minutes</p>
          <p class="description-text"><span>Description: </span><%= @recipe.description %></p>
        </div>
        <div class="public">
          <%= form_with(model: [current_user, @recipe], method: :patch, local: true) do |form| %>
            <% if user_signed_in? && current_user == @recipe.user %>
              <div class="mb-3 form-check">
                <%= form.label :public, style: "display: block", class: "form-check-label" %>
                <%= form.check_box :public, onchange: "this.form.submit()", class: "form-check-input" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <%= link_to "Back to recipes", user_recipes_path(current_user), class: "back-link" %>
  </div>
</div>