<h1>Welcome to Ometman-Yusef Recipe App</h1>
<nav class="auth-links">
  <% if user_signed_in? %>
  <div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag 'recipe_img.jpg', class: 'card-img-top custom-img' %>
          <div class="card-body text-center">
            <h5 class="card-name"><%= link_to recipe.name, recipe_path(recipe) %></h5>
            <p class="card-text"><%= truncate(recipe.description, length: 100) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to 'View Recipe', recipe_path(recipe), class: 'btn btn-sm btn-outline-secondary' %>
              </div>
              <small class="text-muted"><%= time_ago_in_words(recipe.created_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
   <p>Discover new recipes, share your own, and connect with other food lovers.</p>
</div>
  <% else %>
  <p>Login or Register here to use</p>
    <%= link_to 'Sign in', new_user_session_path, class: 'auth-link' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'auth-link' %>
  <% end %>
</nav>