<div class="food-form-container">
  <h1 class="mb-4">My Foods</h1>
  <div class="btn-container">
    <%= link_to 'New Food', new_user_food_path(current_user), class: 'btn btn-primary mb-3 new-food-btn float-right' %>
  </div>
  <table class="food-table">
    <thead class="food-table-head">
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @foods.each do |food| %>
      <tr class="<%= cycle('food-odd-row', 'food-even-row') %>">
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= number_to_currency(food.price / food.quantity) %></td>
        <td class="button-cell">
          <div class="button-group">
          <%= button_to "Delete", user_food_path(current_user, food), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm remove-button" %>
        </div>
        </td>
      </tr>
      </tr>
    <% end %>
    
    </tbody>
  </table>
</div>