<div class="container mt-5">
  <h1 class="text-center">Your Shopping Lists</h1>
<div class="ingredient-info text-center">
  <h4>Amount of Food items to buy: <%= @ingredients.length %> </h4>
  <h4>Total value of Food needed: <%= number_to_currency(@total_price) %> </h4>
</div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Food Name</th>
          <th scope="col">Total Quantity Required</th>
          <th scope="col">Missing Quantity</th>
          <th scope="col">Price per Unit</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |food_name, ingredients| %>
          <tr>
            <td><%= food_name %></td>
            <td><%= ingredients.map(&:quantity).compact.sum %></td>
            <td><%= @missing_numbers[food_name] %></td>
            <td><%= ingredients.first.food.price %></td>
            <td><%= ingredients.first.food.price * @missing_numbers[food_name] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Total price of all missing ingredients: <%= @total_price %></h4>
    </div>
  </div>
</div>
   <%= link_to 'Back to ingredients', :back, fallback_location: root_path %>

