<div class="container mt-5">
  <h1 class="text-center">Your Shopping Lists</h1>

  <div class="row">
    <% @ingredients.each do |food_name, ingredients| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= food_name %></h5>
            <p class="card-text">Total quantity required: <%= ingredients.map(&:quantity).compact.sum %></p>
            <p class="card-text">Missing quantity: <%= @missing_numbers[food_name] %></p>
            <p class="card-text">Price per unit: <%= ingredients.first.food.price %></p>
            <p class="card-text">Total price: <%= ingredients.first.food.price * @missing_numbers[food_name] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-right">Total price of all missing ingredients: <%= @total_price %></h4>
    </div>
  </div>
</div>