<!-- New Recipe Food Form -->
<h1 class="text-center">Create a New Recipe Food</h1>

<%= form_with(model: [current_user, @recipe_food], url: user_recipe_recipe_foods_path(current_user), method: :post, local: true, html: { class: 'recipe-food-form' }) do |form| %>
  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="form-group">
    <%= form.label :recipe_id %>
    <%= form.collection_select(:recipe_id, @user.recipes, :id, :name, { prompt: 'Select a Recipe' }, { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= form.label :food_id %>
    <%= form.collection_select(:food_id, @user.foods, :id, :name, { prompt: 'Select a Food' }, { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= form.submit "Create Recipe Food", class: 'btn btn-primary' %>
  </div>

  <% if @recipe_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_food.errors.count, 'error') %> prohibited this recipe_food from being saved:</h2>
      <ul>
        <% @recipe_food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>

